{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block bottom_js %}
<script src="static/wedding.js"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="col-md-6 text-right" >
<label>We're getting married! Come to Hawaii to celebrate our wedding.</label>
<img src="/app/stevensusy.jpg" width="540" style="PADDING-RIGHT: 10px" align="right">
</div>
<div class="col-md-6" >
<label>Date: </label> {{date}} {% if days > 1 %} (just <label>{{days}}</label> days away!) {% endif %}<br/>
<label>Time: </label> {{time}}  {% if hours > 0 %} (just <label>{{hours}}</label> hours from now!) {% endif %}<br/>
<label>Location: </label> {{location}} <label>*</label><br/>
<p>
<a href="https://www.google.com/maps/embed/v1/place?q=Magic%20Island%2C%20Honolulu%20HI&key=AIzaSyBQC2Eyx7Z4ersTZg15-zfm73CXXAjcRtk"  target="_blank">
<img src="/app/magicisland.jpg" width="580">
</a>
<br><label>*</label> At picnic site #36 under the banyan tree. Click above for an interactive map.
</div>
{% endblock %}