{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block bottom_js %}
<script src="static/wedding.js"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="col-md-6 text-right" >
<label>We were married on {{date}}.</label>
<img src="/app/weddingvows2.jpg" width="420" align="right">
</div>
<div class="col-md-6 text-left" >
<p><label>And we lived happily ever after.</label>
<img src="/app/forever.jpg" width="530" align="left">
</div>
{% endblock %}