<!DOCTYPE html>
<html lang="en" ng-app="susyandsteve">
<head>
  <title>{{title}}</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <p>
  <div class="col-lg-12" >
  <table border=1>
    <thead>
      <tr>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Attending</th>
		  <th>CA party</th>
          <th>WI Party</th>
		  <th>#</th>
      </tr>
    </thead>
    <tbody>
{% for guest in guest_list %}
 <tr>
        <td>{{guest.Name}}</td>
        <td>{{guest.Address}}</td>
        <td>{{guest.City}}</td>
        <td>{{guest.State}}</td>
        <td>{{guest.Zip}}</td>
        <td>{{guest.Email}}</td>
        <td>{{guest.Phone}}</td>
        <td>{{guest.WillAttend}}</td>
        <td>{{guest.WillAttendCA}}</td>
        <td>{{guest.WillAttendWI}}</td>
		<td>{{guest.Attendees}}</td>
      </tr>
{% endfor %}
    </tbody>
  </table>
 </div>

<div class="col-lg-4" >
<br><b>Sunday April 16</b></br>
<b>The Wedding</b> ({{rsvpcount['HI']['count']}})</br>
{% if rsvpcount['HI']['guestlist']  %}
{% for name in rsvpcount['HI']['guestlist'] %}
    {{ name }}<br>
{% endfor %}
{% endif %}
</div>
<div class="col-lg-4" >
<br><b>Sunday June 4</b></br>
<b>Oakland A's party</b> ({{rsvpcount['CA']['count']}})</br>
{% if rsvpcount['CA']['guestlist'] %}
{% for name in rsvpcount['CA']['guestlist'] %}
    {{ name }}<br>
{% endfor %}
{% endif %}
</div>
<div class="col-lg-4" >
<br><b>Wednesday June 7</b></br>
<b>Wisconsin party</b> ({{rsvpcount['WI']['count']}})</br>
{% if rsvpcount['WI']['guestlist'] %}
{% for name in rsvpcount['WI']['guestlist'] %}
    {{ name }}<br>
{% endfor %}
{% endif %}
</div>  


