{% extends "layout.html" %}
{% block title %}{{title}}:Guestbook{% endblock %}
{% block content %}
<div class="container-fluid">

<div class="col-lg-3" >
<img src="/app/invitation.jpg" width="100%" align="left">
<img src="/app/stoneheart.jpg" width="100%" align="left">
</div>

{% if postmessage %}
<div class="col-lg-9" >
<label>Leave a Message in our Guestbook</label>
<table><tr>
<th>Your Name</th><th>Your Message</th><th></th>
</tr>
<tr><tr>
<form action="/guestbook" method="post">
<td><input type="text" id="author" name="author" size="20" value="{{nickname}}"></td>
<td><input type="text" id="content" name="content" size="60" required></td>
<td><input type="submit" class="btn btn-primary btn-medium" value="Post Message"> </td>
</form>
</tr>

</table>
<br>
</div>
{% endif %}

{% if greetings %}
<div class="col-lg-8" >
<table class="table table-condensed">
<tbody>
<tr><th><label>Messages ({{ greetings|length }}):</label></th></tr>
{% for greeting in greetings  %}
<tr><td><field>{{ greeting.content }}</field> ({{ greeting.author }} on {{ greeting.date.strftime('%Y-%m-%d') }})</field></td></tr>
{% endfor  %}
</tbody>
</table>
</div>
{% endif %}


</div>
{% endblock %}
