<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>susy and steve -- major golf picks</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<link rel="stylesheet" href="/app/app.css">
<script type="text/javascript">
$(document).ready(function() {

	$(".tab_content").hide();
	$(".tab_content:first").show(); 

	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active");
		$(this).addClass("active");
		$(".tab_content").hide();
		var activeTab = $(this).attr("rel"); 
		$("#"+activeTab).fadeIn(); 
	});
});

</script> 
  </head>
  <body>
<div>
<form action="/golfpicks" method="get" onchange="this.form.submit()"></form>
{% if user %}
    &nbsp;Logged in as <b>{{ user }}</b>:
{% endif %}
  <a href="{{ userdata.url }}">{{ userdata.url_linktext }}</a>
{% if event %}

	 &nbsp;<b>Event</b>: <select name="event_id">
		{% for e in events %}
	  <option value="{{e.event_id}}" {% if e.event_id==event.event_id %} selected {% endif %} >{{e.event_name}}</option>
	 {% endfor %}
	 </select><input type="submit" id="submit" value="Get">
	 &nbsp;<b>Dates</b>: {{event.event_dates}}
{% endif %}
</form>
</div>
<p><div id="container">

  <ul class="tabs"> 
        <li class="active" rel="tab1"> Picks </li>
{% if event %}
        <li rel="tab2"> Players </li>
        <li rel="tab3"> Results </li>
{% endif %}
    </ul>

<div class="tab_container"> 

     <div id="tab1" class="tab_content"> 

{% if event %}
   {% if event.lastpick %}
   Last Pick: {{event.lastpick}} <p>
    <table>
	<col width="250">
	<col width="250">
    <tr>
   {% for picker in event.pickers %}
	<th class="heading">{{picker.name}}</th>
   {% endfor %}
    <tr>
   {% for picker in event.pickers %}
	<td><ol>
        {% for player in picker.picks %}
        <li>{{ player }}
        {% endfor %}
     </ol></td>
    {% endfor %}
   </tr></table>
  {% endif %}
   {% if user==event.next %}
    <p><form action="/golfpicks" method="post">
    <div>{{event.nextpick}}: <select name="player"> 
  	 {% for player in event.players %}
     <option>{{player.name}}</option>
     {% endfor %}
     </select><input type="submit" id="submit" name="submit" value="Pick"></div>
    <input type="hidden" name="who" value="{{user}}">
    <input type="hidden" name="event_id" value="{{event.event_id}}">
    <input type="hidden" name="pick_no" value="{{event.pick_no}}">
    </form>
   {% else %}
   {% if event.next=="Done" %}
   {% if user %}
   <p><form action="/mailpicks" method="post">We're Done. <input type="hidden" name="event_id" value="{{event.event_id}}">
      <input type="submit" id="submit" value="Email Picks"></form>
   {% else %}
   <p>We're Done.
   {% endif %}
   {% else %}
   <br>Waiting for <b>{{event.nextpick}}</b>.
   {% endif %}
{% endif %}
{% endif %}

</div><!-- #tab1 -->
<div ng-app="susyandsteve" id="tab2" class="tab_content"> 
	<div ng-controller="playersController">
		Search: <input ng-model="query"> <p>  
		 <table>
		   <thead>
			 <tr><th class="heading" colspan="7" ng-bind="event.name"></th></tr>
			 <tr><th>#</th>
				 <th><a href="#" ng-click="orderProp='name'">Player</a>  <a href="#" ng-click="orderProp='lastname'">Last Name</a></th>	
				 <th><a href="#" ng-click="orderProp='country'">Country</a></th>
				 <th><a href="#" ng-click="orderProp='-points'">Points</a></th>	
				 <th><a href="#" ng-click="orderProp='rank'">World Rank</a></th>
				 <th><a href="#" ng-click="orderProp='odds'">Odds</a></th>
				 <th><a href="#" ng-click="orderProp='picked'">Picked</a></th>         </tr>
		   </thead>
		   <tbody>
			 <tr ng-repeat="player in players | filter:query |orderBy:orderProp">
                <td ng-bind="$index + 1"></td>
                <td ng-bind="player.name"></td>
                <td ng-bind="player.country"></td>
                <td ng-bind="player.points |number:2"></td>
                <td ng-bind="player.rank"></td>
                <td ng-bind="player.odds">/1</td>
			   <td><span ng-if="player.picked>0">Picked</span>
				   <form ng-if="player.picked==0" action="/golfpicks" method="post">
				<input type="hidden" name="who" ng-value="event.user"><input type="hidden" name="player" ng-value="player.name">
				<button id="submit" type="submit" class="submit-btn" ng-disabled="event.nopick" >Pick</button>
			  </form></td>
			 </tr>
		  </tbody>
		 </table>
	   </body>
</div><!-- #tab2 -->
<script>
var susyandsteve = angular.module('susyandsteve', []);
susyandsteve.controller('playersController', ['$scope', '$http',
  function($scope, $http) {
    $http.get('/players').success(function(data) {
      $scope.event = data.event;
      $scope.players = data.players;
     });
    $scope.orderProp = 'name';
    $scope.year = new Date().getFullYear();
  }]);
	</script>

<div id="tab3" class="tab_content">
{% if results >= 0 %}
<iframe width='1250' height='800' frameborder='0' src='{{event.results}}'></iframe>
{% else %}
No results yet.
{% endif %}
</div><!-- #tab3 -->

</div> <!-- .tab_container --> 
</div> <!-- #container -->
</body>
</html>
