<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
   <title>{{title}}</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
<script src="/app/fb.js"></script> 
<script type="text/javascript">
$(document).ready(function() {

	$(".tab_content").hide();
	$(".tab_content:first").show(); 

	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active");
		$(this).addClass("active");
		$(".tab_content").hide();
		var activeTab = $(this).attr("rel"); 
		$("#"+activeTab).fadeIn(); 
	});
});
</script> 
 <link rel="stylesheet" href="/app/app.css">
</head>
<body>
<div id="container">
 <form action="/login" method="post">
Welcome,<input type="text" id="nickname" name="nickname" size="10" placeholder="Name or Email" required><input type="hidden" id="url" name="url" value="{{url}}">
<a href="/app/fblogin.html"><img src="/app/fb.jpg" align="top" alt="login via Facebook" width="25"></a>
<a href="{{url}}"><img src="/app/g.jpg" align="top" alt="login via Google" width="25"></a>
<input type="submit" value="Login">
</form>
<h1>{{title}}</h1>
<br><img src="/app/magicisland.jpg" align="top">
</div>
</html>

