{% extends "layout.html" %}
{% block title %}{{title}}:Photos{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="col-lg-3" >
<img src="/app/invitation.jpg" width="100%" align="left">
<img src="/app/stoneheart.jpg" width="100%" align="left">
<img src="/app/peacelovealoha.jpg" width="100%" align="left">
</div>
<div class="col-lg-9" >
<label>Wedding Photos:</label><br>Here are some Facebook photos from the wedding ceremony.<br>
</div>
<div class="col-lg-5" >
<br><label>The Wedding Party</label>
<img src="/app/weddingparty.jpg" width="600">
<br>(photo posted by Janet, taken by someone else)<br>
<br><label>The Wedding Vows</label><br>
<img src="/app/weddingvows.jpg" width="300">
<img src="/app/weddingvows2.jpg" width="300">
(photos by Bradley and Denise)<br>
<br><label>The Wedding Ohana Leo Nui</label><br>
<img src="/app/loudcrowd.jpg" width="600">
<br>(photo by Paula)<br>
</div>
<div class="col-lg-4" >
<br><label>The Wedding Rings</label><br>
<img src="/app/rings.jpg" width="260">
<br>(photo by Susy)<br>
<br><label>The Wedding Officiant</label><br>
<img src="/app/performer.jpg" width="200">
<br>(photo by Sue)<br>
<br><label>The Wedding Performers</label><br>
<img src="/app/ricethrower.jpg" width="300">
<img src="/app/hatpack.jpg" width="300">
<br>(Ricethrower: by Janet, Hat pack: by Paula)<br>
</div>
</div>
{% endblock %}