<label>Our Gift Registry:</label><br>Are you kidding? We just spent months paring down two long-established independent overstuffed households and moving across an ocean together into a small flat! 
We really don’t need or want anything. In lieu of gifts to us, please consider a donation to one or more of the following:
<p><table><tr><td><A href="https://donate.cancer.org/index.aspx?campaign=CY16MemPod&_ga=1.191803370.1588438681.1474949228" target="_blank">The American Cancer Society</a> or <a href="http://www.nhpco.org/find-hospice" target="_blank">your local hospice</a>
<br><img src="/app/judyi.jpg" width="400">
<br>In memory of Susy's mom, Judy (Bosanec) Ingraham.
</td><td><A href="http://www.ccfa.org/get-involved/donate-to-ccfa/honors-and-memorial.html" target="_blank">The Crohn’s & Colitis Foundation of America</a>
<br><img src="/app/joanh.jpg" width="400">
<br>In memory of Steve's mom, Joan (Brown) Holtebeck.
</td></tr>
<tr><td>
<br><A href="https://www.gofundme.com/2nz0vk" target="_blank">The Scott Miller Memorial fund</a> or <A href="https://afsp.org/take-action/give-a-gift/" target="_blank">AFSP</a> 
<img src="/app/wscott1.jpg"><br>In memory of the man who made our wedding happen. <br>We met via Janet & Andy, who met Steve on the <A href="http://www.loudfamily.com/" target="_blank">loud-fans</a> email list.
The photo above is from Janet & Andy's wedding.
</td><td><p><A href="http://www.calparks.org/whatwedo/improving/pigeon-point/" target="_blank">Pigeon Point Lighthouse Restoration</a>
<img src="/app/pigeonpoint.jpg" width="400">
<br>We would also cherish anyone willing to gift us with a song or poem at our wedding ceremony or party. 
</td></tr>
</table>