{% extends "layout.html" %}
{% block title %}{{title}}:Registry{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="col-lg-3" >
<img src="/app/invitation.jpg" width="100%" align="left">
<img src="/app/stoneheart.jpg" width="100%" align="left">
<img src="/app/peacelovealoha.jpg" width="100%" align="left">
</div>
<div class="col-lg-9" >
<label>Our Gift Registry:</label><br>Are you kidding? We just spent months paring down two long-established independent overstuffed households and moving across an ocean together into a small flat! 
We really don’t need or want anything. In lieu of gifts to us, please consider a donation to one or more of the following causes:<br>
</div>
<div class="col-lg-4" >
<br><A href="https://donate.cancer.org/index.aspx?campaign=CY16MemPod&_ga=1.191803370.1588438681.1474949228" target="_blank">The American Cancer Society</a> or <a href="http://www.nhpco.org/find-hospice" target="_blank">your local hospice</a>
<img src="/app/judyi.jpg" width="400">
<br>In memory of Susy's mom, Judy (Bosanec) Ingraham.<br>
<br><A href="https://www.gofundme.com/2nz0vk" target="_blank">The Scott Miller Memorial fund</a> or <A href="https://afsp.org/take-action/give-a-gift/" target="_blank">AFSP</a> 
<img src="/app/wloud1.jpg" width="400"><br>In memory a man who made our wedding happen. We met via Janet & Andy, who met Steve on the <A href="http://www.loudfamily.com/" target="_blank">loud-fans</a> email list.
The photo above is from Janet & Andy's wedding.
</div>
<div class="col-lg-4" >
<br><A href="http://www.ccfa.org/get-involved/donate-to-ccfa/honors-and-memorial.html" target="_blank">The Crohn’s & Colitis Foundation of America</a>
<img src="/app/joanh.jpg" width="400">
<br>In memory of Steve's mom, Joan (Brown) Holtebeck.<br>
<br><A href="http://sweetrelief.org/program/the-music-cancer-fund/" target="_blank">The musician's cancer fund @ Sweet Relief</a> or 
<A href="https://www.pcf.org/donate/" target="_blank">PCF</a> 
<img src="/app/gilray.jpg" width="400"><br>In memory of our friend <A href="http://susyandsteve.blogspot.com/2017/01/for-gil.html" target="_blank">Gil Ray</a>, Scott's longtime bandmate, and another man who made our wedding happen. The above photo is from Steve's 50th birthday party.
</div>
</div>
{% endblock %}