{% extends "layout.html" %}
{% block title %}RSVP for {{title}}{% endblock %}
{% block content %}
<script type="text/javascript">
function yesCheck() {      document.getElementById('will-attend').style.visibility = 'visible';    } 
function noCheck() {       document.getElementById('will-attend').style.visibility = 'hidden';   }
</script>
<div class="container-fluid">
<div class="col-lg-3" >
<img src="/app/invitation.jpg" width="100%" align="left">
<img src="/app/stoneheart.jpg" width="100%" align="left">

</div> 
<div class="col-lg-9" >
 <h1>RSVP for {{title}}</h1>
<form action="/rsvp" method="post">
{% if rsvp %}
<label>Thank you {{rsvp.name}}, {{msg}}{{emoticon}}.  Please review your information.</label>
<br>
   <div>
        <div>
            <label for="fullName">Name:</label>
            <input type="text" id="name" name="name" size="60" value="{{rsvp.name}}">
       </div>
		<div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" size="30" value="{{rsvp.email}}">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" size="15" value="{{rsvp.phone}}">
</select> 
     </div>
		<div>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" size="60" value="{{rsvp.address}}">
       </div>
	   		<div>
            <label for="city">City:</label> <input type="text" id="city" name="city" size="20" value="{{rsvp.city}}">
			<label for="state">State:</label> <select id="state" name="state">
			<option value=""></option>
{% for s in states %}
         {% if s.code == rsvp.state %}
            <option value="{{s.code}}" selected>{{s.name}}</option>
	     {% else %}
            <option value="{{s.code}}">{{s.name}}</option>
		 {% endif %}
{% endfor %}
</select>
			<label for="zip">ZIP:</label>  <input type="text" id="zip" name="zip" size="10" value="{{rsvp.zip}}">
       </div>
	   	<div>
            <label for="contactMethod">Preferred Contact Method: </label>
			  <select id="contactMethod" name="contactMethod" value="{{rsvp.contactMethod}}">
                <option value="">none</option>
{% for method in methods %}
         {% if method == rsvp.contactMethod %}
            <option value="{{method}}" selected>{{method}}</option>
	     {% else %}
            <option value="{{method}}">{{method}}</option>
		 {% endif %}
             
{% endfor %}				
            </select>
				<label for="carrier">Cell Carrier: </label><select id="carrier" name="carrier">
			<option value=""></option>
{% for c in carriers %}
         {% if c.domain == rsvp.carrier %}
            <option value="{{c.domain}}" selected>{{c.name}}</option>
	     {% else %}
            <option value="{{c.domain}}">{{c.name}}</option>
		 {% endif %}{% endfor %}
		<option value=" ">Landline/Other</option>
		</select>
        </div>
		<div>
		    <label for="note">Note: </label>
			<input type="text" id="note" name="note" size="60" placeholder="Optional message for the Guestbook" value="{{note}}">
		</div>
	   </p>
	<div>
	<input type="hidden" id="willAttend" name="willAttend" value="NA">
 	<label for="willAttendCA">Will you be attending the Oakland party on June 4th?</label> &nbsp;   
	<input type="radio" name="willAttendCA" value="yes" {% if rsvp.willAttendCA=="yes" %}checked{% endif %}><b>Yes</b>
	<input type="radio" name="willAttendCA" value="no"  {% if rsvp.willAttendCA=="no" %}checked{% endif %}><b>No</b>
	<input type="radio" name="willAttendCA" value="maybe" {% if rsvp.willAttendCA=="maybe" %}checked{% endif %}><b>Maybe</b>
       </div>
		<div>
 	<label for="willAttendWI">Will you be attending the Wisconsin party on June 7th?</label>
	<input type="radio" name="willAttendWI" value="yes" {% if rsvp.willAttendWI=="yes" %}checked{% endif %}><b>Yes</b>
	<input type="radio" name="willAttendWI" value="no"  {% if rsvp.willAttendWI=="no" %}checked{% endif %}><b>No</b>
	<input type="radio" name="willAttendCA" value="maybe" {% if willAttendWI=="maybe" %}checked{% endif %}><b>Maybe</b>
 	</div>
		<div>
            <label for="attendees">Number of guests attending events (including yourself):</label>
            <select id="attendees" name="attendees" value="{{rsvp.attendees}}">
                <option value="0" >none</option>
                <option value="1" {% if rsvp.attendees==1 %}selected{% endif %}>one</option>
                <option value="2" {% if rsvp.attendees==2 %}selected{% endif %}>two</option>
                <option value="3" {% if rsvp.attendees==3 %}selected{% endif %}>three</option>
                <option value="4" {% if rsvp.attendees==4 %}selected{% endif %}>four</option>
                <option value="5" {% if rsvp.attendees==5 %}selected{% endif %}>five</option>
                <option value="6" {% if rsvp.attendees==6 %}selected{% endif %}>six</option>
            </select>
    </div>
<div id='will-attend'>
</div>
		<div>
            <input type="hidden" id="nickname" name="nickname" value="{{nickname}}">
            <p><input type="submit" class="btn btn-primary" id="update" value="Update RSVP">
        </div>
    </div>
{% else %}
    <div>
Our wedding was on {{date}} in Honolulu HI &#9786; <br>We are also planning parties in Oakland CA on Sunday June 4, 2017 and Oak Creek WI on Wednesday June 7, 2017.
<p>     <div>
            <label for="fullName">Name:</label>
            <input type="text" id="name" name="name" size="60" value="{{name}}">
       </div>
		<div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" size="30" value="{{email}}">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" size="15" value="{{phone}}">
     </div>
		<div>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" size="60" value="{{address}}">
       </div>
	   		<div>
            <label for="city">City:</label> <input type="text" id="city" name="city" size="20" value="{{city}}">
			<label for="state">State:</label> <select id="state" name="state">
			<option value=""></option>
{% for s in states %}
            <option value="{{s.code}}">{{s.name}}</option>
{% endfor %}
           </select>
			<label for="zip">ZIP:</label>  <input type="text" id="zip" name="zip" size="10">
       </div>
		<div>
            <label for="contactMethod">Preferred Contact Method: </label>
			  <select id="contactMethod" name="contactMethod" value="">
                <option value="">none</option>
{% for method in methods %}
                <option value="{{method}}">{{method}}</option>
{% endfor %} 
        </select>
		</select>
				<label for="carrier">Cell Carrier: </label><select id="carrier" name="carrier">
			<option value=""></option>
{% for carrier in carriers %}
             <option value="{{carrier.domain}}">{{carrier.name}}</option>
{% endfor %}
		<option value=" ">Landline/Other</option>
		</select>
        </div>
			<div>
            <label for="note">Note: </label>
			<input type="text" id="note" name="note" size="60" placeholder="Optional message for the Guestbook">
    </div>
	</p>
	<div>
	<input type="hidden" id="willAttend" name="willAttend" value="NA">
 	<label for="willAttendCA">Will you be attending the Oakland party on June 4th?</label> &nbsp;   
	<input type="radio" name="willAttendCA" onclick="javascript:yesCheck();" value="yes"><b>Yes</b>
	<input type="radio" name="willAttendCA" value="no"><b>No</b><input type="radio" name="willAttendCA" value="maybe"><b>Maybe</b>
       </div>
		<div>
 	<label for="willAttendWI">Will you be attending the Wisconsin party on June 7th?</label>
	<input type="radio" name="willAttendWI" onclick="javascript:yesCheck();" value="yes"><b>Yes</b>
	<input type="radio" name="willAttendWI" value="no"><b>No</b><input type="radio" name="willAttendWI" value="maybe"><b>Maybe</b>
 	</div>
           <label for="attendees">Number of guests attending events (including yourself):</label>
            <select id="attendees" name="attendees" value="1">
                <option value="0">none</option>
                <option value="1">one</option>
                <option value="2">two</option>
                <option value="3">three</option>
                <option value="4">four</option>
                <option value="5">five</option>
                <option value="6">six</option>
            </select>
        <div>
		    <input type="hidden" id="nickname" name="nickname" value="{{nickname}}">
            <input type="submit" class="btn btn-primary" value="Send RSVP">
        </div>
    </div>
	
{% endif %}
</form>
</div>
{% if weddingparty %}
<div class="col-lg-3" >
<br><label>Sunday April 16</label></br>
<b>The Wedding</b> ({{rsvpcount['HI']['count']}})</br>
{% if rsvpcount['HI']['guestlist']  %}
{% for name in rsvpcount['HI']['guestlist'] %}
    {{ name }}<br>
{% endfor %}
{% endif %}
</div>
<div class="col-lg-3" >
<br><label>Sunday June 4</label></br>
<b>Oakland A's party</b> ({{rsvpcount['CA']['count']}})</br>
{% if rsvpcount['CA']['guestlist'] %}
{% for name in rsvpcount['CA']['guestlist'] %}
    {{ name }}<br>
{% endfor %}
{% endif %}
</div>
<div class="col-lg-3" >
<br><label>Wednesday June 7</label></br>
<b>Wisconsin party</b> ({{rsvpcount['WI']['count']}})</br>
{% if rsvpcount['WI']['guestlist'] %}
{% for name in rsvpcount['WI']['guestlist'] %}
    {{ name }}<br>
{% endfor %}
{% endif %}
</div>
{% endif %}

</div>


{% endblock %}
