<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
   <title>{{title}}</title>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="/app/app.css">
</head>
<body> 
<h1>{{title}}</h1>
<form action="/rsvp" method="post">
{% if rsvp %}
{% if rsvp.willAttend=="yes" %}
    <label>You are attending the wedding. &#9786; </label> 
{% else %}
    <label>You are not attending the wedding. &#9785;</label>
{% endif %}
<p/>
    <div>
        <div>
            <label for="fullName">Name:</label>
            <input type="text" id="name" name="name" size="60" value="{{rsvp.name}}">
       </div>
		<div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" size="30" value="{{rsvp.email}}">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" size="15" value="{{rsvp.phone}}">
</select> 
     </div>
		<div>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" size="60" value="{{rsvp.address}}">
       </div>
	   		<div>
            <label for="city">City:</label> <input type="text" id="city" name="city" size="20" value="{{rsvp.city}}">
			<label for="state">State:</label> <select id="state" name="state">
			<option value=""></option>
{% for state in states %}
            <option value="{{state.code}}">{{state.name}}</option>
{% endfor %}
</select>
			<label for="zip">ZIP:</label>  <input type="text" id="zip" name="zip" size="10" value="{{rsvp.zip}}">
       </div>
	<div>
            <label for="note">Note: </label>
			<input type="text" id="note" name="note" size="60" value="{{rsvp.note}}">
        </div>
	<div>
            <label for="willAttend">Attending the wedding?</label> <select id="willAttend" name="willAttend">
			<option value=""></option>
               <option value="yes">yes</option>
 			    <option value="no">no</option>
                <option value="maybe">maybe</option>
           </select>
            <label for="attendees">Number attending:</label>
            <select id="attendees" name="attendees" value="{{rsvp.attendees}}">
                <option value="0">none</option>
                <option value="1">one</option>
                <option value="2">two</option>
                <option value="3">three</option>
                <option value="4">four</option>
                <option value="5">five</option>
                <option value="6">six</option>
            </select>
        </div>
    	<div>
            <label for="contactMethod">Preferred Contact Method: </label>
			  <select id="contactMethod" name="contactMethod" value="{{rsvp.contactMethod}}">
                <option value="">none</option>
{% for method in methods %}
             <option value="{{method}}">{{method}}</option>
{% endfor %}				
            </select>
				<label for="carrier">Cell Carrier: </label><select id="carrier" name="carrier">
			<option value=""></option>
{% for carrier in carriers %}
             <option value="{{carrier.domain}}">{{carrier.name}}</option>
{% endfor %}
		<option value=" ">Landline/Other</option>
        </div>
	<div>        <div>
            <input type="hidden" id="nickname" name="nickname" value="{{rsvp.nickname}}">
            <p><input type="submit" id="update" value="Update RSVP">
        </div>
    </div>
<script>
$('select[name="state"] option[value="{{rsvp.state}}"]').attr("selected","selected");
$('select[name="willAttend"] option[value="{{rsvp.willAttend}}"]').attr("selected","selected");
$('select[name="attendees"] option[value="{{rsvp.attendees}}"]').attr("selected","selected");
$('select[name="contactMethod"] option[value="{{rsvp.contactMethod}}"]').attr("selected","selected");
</script>
{% else %}
    <div>

       <div>
            <label for="fullName">Name:</label>
            <input type="text" id="name" name="name" size="60" value="">
       </div>
		<div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" size="30" value="">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" size="15" value="">
     </div>
		<div>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" size="60" value="">
       </div>
	   		<div>
            <label for="city">City:</label> <input type="text" id="city" name="city" size="20" value="">
			<label for="state">State:</label> <select id="state" name="state">
			<option value=""></option>
{% for state in states %}
            <option value="{{state.code}}">{{state.name}}</option>
{% endfor %}
           </select>
			<label for="zip">ZIP:</label>  <input type="text" id="zip" name="zip" size="10">
       </div>
	<div>
            <label for="note">Note: </label>
			<input type="text" id="note" name="note" size="60" value="">
        </div>
	<div>
            <label for="willAttend">Attending the wedding?</label> <select id="willAttend" name="willAttend">
                <option value="yes">yes</option>
			    <option value="no">no</option>
                <option value="maybe">maybe</option>
            </select>
            <label for="attendees">Number attending:</label>
            <select id="attendees" name="attendees">
                <option value="0">none</option>
                <option value="1">one</option>
                <option value="2">two</option>
                <option value="3">three</option>
                <option value="4">four</option>
                <option value="5">five</option>
                <option value="6">six</option>
            </select>
        </div>
		<div>
            <label for="contactMethod">Preferred Contact Method: </label>
			  <select id="contactMethod" name="attendees" value="">
                <option value="">none</option>
{% for method in methods %}
                <option value="{{method}}">{{method}}</option>
{% endfor %} 
        </select>
        </div>
        <div>
		    <input type="text" id="nickname" name="nickname" value="{{nickname}}">
            <p><input type="submit" value="Send RSVP">
        </div>
    </div>
{% endif %}
</form>

{% if guestcount %}
<label>Attending ({{guestcount}})</label></br> 
{% for rsvp in rsvplist %}
{% if rsvp.willAttend=="yes" %}
    {{ rsvp.name }}
	{% if rsvp.attendees > 1 %}
	 ({{rsvp.attendees}})
	{% endif %}
	<br>

{% endif %}
{% endfor %}
{% endif %}

</body>
</html>
