{% extends "layout.html" %}
{% block title %}RSVP for {{title}}{% endblock %}
{% block bottom_js %}
<script src="static/wedding.js"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="col-lg-4" >
<img src="/app/invitation.jpg" align="left">
</div>
<div class="col-lg-8" >
 <h1>RSVP for {{title}}</h1>
<form action="/rsvp" method="post">
{% if rsvp %}
{% if rsvp.willAttend=="yes" %}
    <label>You are attending our wedding. &#9786; </label> 
{% elif rsvp.willAttend=="maybe" %}
    <label>You might be attending our wedding.</label> 
{% else %}
    <label>You are not attending our wedding. &#9785;</label>
{% endif %}
   <div>
        <div>
            <label for="fullName">Name:</label>
            <input type="text" id="name" name="name" size="60" value="{{rsvp.name}}">
       </div>
		<div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" size="30" value="{{rsvp.email}}">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" size="15" value="{{rsvp.phone}}">
</select> 
     </div>
		<div>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" size="60" value="{{rsvp.address}}">
       </div>
	   		<div>
            <label for="city">City:</label> <input type="text" id="city" name="city" size="20" value="{{rsvp.city}}">
			<label for="state">State:</label> <select id="state" name="state">
			<option value=""></option>
{% for state in states %}
            <option value="{{state.code}}">{{state.name}}</option>
{% endfor %}
</select>
			<label for="zip">ZIP:</label>  <input type="text" id="zip" name="zip" size="10" value="{{rsvp.zip}}">
       </div>
	   	<div>
            <label for="contactMethod">Preferred Contact Method: </label>
			  <select id="contactMethod" name="contactMethod" value="{{rsvp.contactMethod}}">
                <option value="">none</option>
{% for method in methods %}
             <option value="{{method}}">{{method}}</option>
{% endfor %}				
            </select>
				<label for="carrier">Cell Carrier: </label><select id="carrier" name="carrier">
			<option value=""></option>
{% for carrier in carriers %}
             <option value="{{carrier.domain}}">{{carrier.name}}</option>
{% endfor %}
		<option value=" ">Landline/Other</option>
		</select>
        </div>
	<div>
            <label for="note">Note: </label>
			<input type="text" id="note" name="note" size="60" value="">
    </div>
	   </p>
	<div>
	<label for="willAttend">Will you be attending the Hawaii wedding on April 16?</label>
	<input type="radio" name="willAttend" value="yes"><b>Yes</b><input type="radio" name="willAttend" value="no"><b>No</b><input type="radio" name="willAttend" value="maybe"><b>Maybe</b>
	</div>
	<div>
 	<label for="willAttendCA">Will you be attending the Oakland party on June 4th?</label> &nbsp;   
	<input type="radio" name="willAttendCA" value="yes"><b>Yes</b><input type="radio" name="willAttendCA" value="no"><b>No</b><input type="radio" name="willAttendCA" value="maybe"><b>Maybe</b>
       </div>
		<div>
 	<label for="willAttendWI">Will you be attending the Wisconsin party on June 7th?</label>
	<input type="radio" name="willAttendWI" value="yes"><b>Yes</b><input type="radio" name="willAttendWI" value="no"><b>No</b><input type="radio" name="willAttendCA" value="maybe"><b>Maybe</b>
 	</div>
	<div>
            <label for="attendees">Number of guests attending:</label>
            <select id="attendees" name="attendees" value="{{rsvp.attendees}}">
                <option value="0">none</option>
                <option value="1">one</option>
                <option value="2">two</option>
                <option value="3">three</option>
                <option value="4">four</option>
                <option value="5">five</option>
                <option value="6">six</option>
            </select>
	</div>

		<div>
            <input type="hidden" id="nickname" name="nickname" value="{{rsvp.nickname}}">
            <p><input type="submit" id="update" value="Update RSVP">
        </div>
    </div>
<script>
$('select[name="state"] option[value="{{rsvp.state}}"]').attr("selected","selected");
$('input[name="willAttend"][value="{{rsvp.willAttend}}"]').prop("checked",true);
$('input[name="willAttendCA"][value="{{rsvp.willAttendCA}}"]').prop("checked",true);
$('input[name="willAttendWI"][value="{{rsvp.willAttendWI}}"]').prop("checked",true);
$('select[name="attendees"] option[value="{{rsvp.attendees}}"]').attr("selected","selected");
$('select[name="contactMethod"] option[value="{{rsvp.contactMethod}}"]').attr("selected","selected");
</script>
{% else %}
    <div>
Our wedding will be on {{date}} in Honolulu HI.<br>We are also planning parties in Oakland CA on Sunday June 4, 2017 and Milwaukee WI on Wednesday June 7, 2017.
<p>     <div>
            <label for="fullName">Name:</label>
            <input type="text" id="name" name="name" size="60" value="">
       </div>
		<div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" size="30" value="">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" size="15" value="">
     </div>
		<div>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" size="60" value="">
       </div>
	   		<div>
            <label for="city">City:</label> <input type="text" id="city" name="city" size="20" value="">
			<label for="state">State:</label> <select id="state" name="state">
			<option value=""></option>
{% for state in states %}
            <option value="{{state.code}}">{{state.name}}</option>
{% endfor %}
           </select>
			<label for="zip">ZIP:</label>  <input type="text" id="zip" name="zip" size="10">
       </div>
	<div>
            <label for="note">Note: </label>
			<input type="text" id="note" name="note" size="60" value="{{note}}">
    </div>
		<div>
            <label for="contactMethod">Preferred Contact Method: </label>
			  <select id="contactMethod" name="attendees" value="">
                <option value="">none</option>
{% for method in methods %}
                <option value="{{method}}">{{method}}</option>
{% endfor %} 
        </select>
		</select>
				<label for="carrier">Cell Carrier: </label><select id="carrier" name="carrier">
			<option value=""></option>
{% for carrier in carriers %}
             <option value="{{carrier.domain}}">{{carrier.name}}</option>
{% endfor %}
		<option value=" ">Landline/Other</option>
		</select>
        </div>
	</p>
	<div>
	<label for="willAttend">Will you be attending the Hawaii wedding on April 16?</label>
	<input type="radio" name="willAttend" value="yes"><b>Yes</b><input type="radio" name="willAttend" value="no" id="noCheck"><b>No</b><input type="radio" name="willAttend" value="maybe"><b>Maybe</b>
	</div>
	<div>
 	<label for="willAttendCA">Will you be attending the Oakland party on June 4th?</label> &nbsp;   
	<input type="radio" name="willAttendCA" value="yes"><b>Yes</b><input type="radio" name="willAttendCA" value="no"><b>No</b><input type="radio" name="willAttendCA" value="maybe"><b>Maybe</b>
       </div>
		<div>
 	<label for="willAttendWI">Will you be attending the Wisconsin party on June 7th?</label>
	<input type="radio" name="willAttendWI" value="yes"><b>Yes</b><input type="radio" name="willAttendWI" value="no"><b>No</b><input type="radio" name="willAttendWI" value="maybe"><b>Maybe</b>
 	</div>
	<div id="ifYes">
            <label for="attendees">Number of guests attending:</label>
            <select id="attendees" name="attendees" value="1">
                <option value="0">none</option>
                <option value="1">one</option>
                <option value="2">two</option>
                <option value="3">three</option>
                <option value="4">four</option>
                <option value="5">five</option>
                <option value="6">six</option>
            </select>
	</div>

        <div>
		    <input type="hidden" id="nickname" name="nickname" value="{{nickname}}">
            <input type="submit" value="Send RSVP">
        </div>
    </div>
	
{% endif %}
</form>

{% if weddingparty %}
<table width="750">
<tr>
<th align="left"><label>Sunday April 16</label></th>
<th align="left"><label>Sunday June 4</label></th>
<th align="left"><label>Wednesday June 7</label></th>
</tr>
<tr>
<th align="left"><b>The Wedding</b>({{rsvpcount['HI']}})</th>
<th align="left"><b>Oakland A's party</b> ({{rsvpcount['CA']}})</th>
<th align="left"><b>Wisconsin Party</b> ({{ rsvpcount['WI']}})</th>
</tr>
<tr>
<td align="top">
{% if guestcount %}
{% for name in rsvplist['HI'] %}
    {{ name }}<br>
{% endfor %}
{% endif %}
</td>
<td align="top">
{% if rsvplist['CA'] %}
{% for name in rsvplist['CA'] %}
    {{ name }}<br>
{% endfor %}
{% endif %}
</td>
<td align="top">
{% if rsvplist['WI'] %}
{% for name in rsvplist['WI'] %}
    {{ name }}<br>
{% endfor %}
{% endif %}
</td>
</tr>
</table>
{% endif %}
</div>
</div>
{% endblock %}
