<label>Five Things You Might Want to Know About the Wedding</label><ol class="applist">
<li>It’ll be a secular/civil ceremony. We know a lot of you will also want to attend Easter services,<br>&emsp; so we’ll be posting here about local church locations and times as we gather the information.
<li>It’ll be outdoors. Please be prepared for the weather. It does rain frequently on Oahu, but they’re usually just brief sprinkles.<br>&emsp; It also tends to be very windy, so hold on to your hat (and your small children, if it’s *really* gusty).
<li>The reception will be a brunch picnic immediately after the ceremony. 
<li>Be as casual as you like. Our wedding/reception site is immediately adjacent to a swimming beach. Bring or wear your swimsuit if you like!
<li>There is plenty of free parking at Magic Island, or it’s readily walkable from Ala Moana Mall (all roads in Honolulu lead there – see next section).<br>&emsp; Once you reach Magic Island, look for picnic site #36 or ask anyone to point you to the big banyan tree.
</ol>

<label>Five Ways To Get Around</label><ol class="applist">
<li><a href="https://www.kayak.com/horizon/sem/cars/destination/-c28070" target="_blank">Rent A Car</a> - Car rentals are cheap in Honolulu, but traffic and parking is a challenge.
<li><a href="http://www.thebus.org/" target="_blank">Take The Bus</a> - Honolulu's bus system is called "The Bus", and it's cheap, safe, and easy. 
<li><a href="https://www.waikikitrolley.com/" target="_blank">Take The Trolley</a> - The Waikiki Trolley is cheaper than the bus around Ala Moana and Waikiki.  	 	
<li><a href="http://thecabhawaii.com/" target="_blank">Take a Cab</a> - Only if necessary.  Taxis are expensive and uncommon outside of Waikiki and the airport.<br>&emsp; But they are probably are your best bet for airport arrival and departure.
<li>There are also rideshares via <a href="https://www.uber.com/cities/honolulu/" target="_blank">Uber</a> & <a href="https://www.lyft.com/cities/honolulu" target="_blank">Lyft</a>.
</ol>

<label>Five Recommended Places to Stay</label><ol class="applist">
<li><a href="http://www.alamoanahotelhonolulu.com/" target="_blank">Ala Moana Hotel</a> - Business class hotel near Magic Island & Ala Moana Shopping Center
<li><a href="http://www.aquapalms.com/" target="_blank">Aqua Palms Waikiki</a> -  All the Aqua properties are nice and affordable; this one is convenient to Magic Island, Ala Moana and Waikiki 	 	
<li><a href="https://www.halekoa.com/" target="_blank">Hale Koa Hotel</a> - Military hotel near Fort DeRussy Beach. Available only to active duty, veteran, or surviving family of the armed/uniformed services.  
<li><a href="http://surfjack.com/" target="_blank">Surfjack Hotel & Swim Club</a> - Boutique suite (sweet) hotel in Waikiki  
<li>Try short term rentals on  <a href="https://www.vrbo.com/vacation-rentals/usa/hawaii/oahu" target="_blank">VRBO</a> or <a href="https://www.airbnb.com/s/O‘ahu--HI" target="_blank">Airbnb</a>.
</ol>

<label>Five Recommended Places to Eat</label><ol class="applist">
<li><a href="http://www.chuckshawaii.com/" target="_blank">Chuck's Cellar</a> - I've (Steve) been eating here since I was a wee kid. A Holtebeck family tradition.
<li><a href="https://www.eggsnthings.com/" target="_blank">Eggs 'n Things</a> - Popular breakfast/brunch place with three locations around Waikiki.  
<li><a href="http://www.toridollusa.com/" target="_blank">Marukame Udon</a> - Choose your broth, noodles & toppings. Worth the wait in their perpetual line.
<li><a href="http://rainbowdrivein.com/menu/" target="_blank">Rainbow Drive-In</a> - Famous Hawaiian plate lunch, near the edge of Waikiki.
<li><a href="http://www.japanvillagewalk.com/" target="_blank">Shirokiya Japan Village Walk</a> - huge Hong Kong-style food court at Ala Moana Mall.
<br>&emsp; Sushi, udon, wagyu, bento, burgers, pizza, spam musubi, okonomiyaki, and $1 beers (if you’re not too snobbish). Plus a 
<br>&emsp; Guardian Spirits Sanctuary where you can seek your good luck guide among 8 different buddhas and 12 animal spirits. What more could you want?
</ol>

<p> <label>Five Recommended Treats</label><ol class="applist">
<li>Malasadas from <a href="http://leonardshawaii.com/" target="_blank">Leonard's Bakery</a> - fried dough with lots of sugar, served warm and fresh.
<br>&emsp; We like the plain cinnamon sugar ones, but if you like filling do it up with vanilla, chocolate, or coconut(haupia).
<li>Shave Ice from <a href="http://www.houseofpurealoha.com" target="_blank">Uncle Clay’s</a> or  <a href="http://matsumotoshaveice.com/" target="_blank">Matsumoto</a>(Susy’s favorites), but any of the dozens of stands around Waikiki are ono(great) if you don't have a car.
<li>Darn good ice cream from <a href="https://www.lappertshawaii.com" target="_blank">Lappert’s</a> in Hilton Hawaiian Village.
<li>Napples (turnovers) from <A href="http://napoleonsbakery.com/product.php">Napoleon’s Bakery</a>, found in Zippy’s Restaurants on just about every block around town.
<li>If prefer to drink your treats, we recommend <a href="http://www.beerlabhi.com/" target="_blank">Beer Lab HI</a>, <a href="http://www.honolulubeerworks.com/#new-page-3-1-1-1" target="_blank">Honolulu Beer Works</a>, 
<a href="http://www.brewseums.com/" target="_blank">The Brewseum</a>, or <a href="http://www.waikikibrewing.com/" target="_blank">Waikiki Brewing Company</a>.  
</ol>

<p> <label>Five Recommended Hikes and Walks</label><ol class="applist">
<li><a href="http://dlnr.hawaii.gov/dsp/parks/oahu/diamond-head-state-monument/" target="_blank">Diamond Head State Monument</a> - A nice long paved walk up the crater. There are a couple steep staircases and one spot where 
<br>&emsp; you need to bend over nearly double to get through an old sentry bunker, but it’s a fun, easy climb. Just East of Waikiki. 	
<li><a href="http://dlnr.hawaii.gov/dsp/hiking/oahu/makapuu-point-lighthouse-trail/" target="_blank">Makapuʻu Point Lighthouse Trail</a> - Another nice hike, just East of Diamond Head.
<li><a href="http://www.alltrails.com/trail/us/hawaii/manoa-falls-trail" target="_blank">Manoa Falls</a> -  A shady, pretty, 1.5 mile hike to a waterfall, past the U of H campus one valley over from our place. Often rainy/muddy so be prepared!
<li><a href="http://gis.hicentral.com/FastMaps/Parks/ParkDetails.aspx?id=4&lyrLst=1%7C0%7C0%7C0%7C1%7Caeria" target="_blank">Kapiolani Regional Park</a> - Pretty area at the east end of Waikiki. Adjacent to the zoo, aquarium, and Sans Souci Beach.
<li><a href="https://www.honolulu.gov/des/golf/alawai.htm" target="_blank">Ala Wai Golf Course</a> - Grab your clubs or rent theirs, and walk this public course right across the canal from Waikiki.
</ol>
<label>Five Recommended Sights to Visit</label><ol class="applist">
<li><a href="http://www.iolanipalace.org/" target="_blank">Iolani Palace</a> - The only royal residence on US soil, home to the Kings and Queens of Hawai’i from the Kamehameha Dynasty 
<br>&emsp; until the monarchy was overthrown and the Islands annexed by the US in the late 19th century
<li><a href="https://www.nps.gov/valr/index.htm" target="_blank">Pearl Harbor</a> - This is on the West side of Honolulu near the airport, so it's a good thing to do right after arriving or right before leaving.
<li><a href="http://dlnr.hawaii.gov/dsp/parks/oahu/puu-ualakaa-state-wayside/" target="_blank">Puu Ualakaa State Park</a> - Fantastic views over Honolulu and Waikiki. Tantalus Lookout is just up the hill from our place
<li><a href="http://hanaumabaystatepark.com/" target="_blank">Hanauma Bay Nature Preserve</a> - Say hi to the sea turtles for us!
<li>Head to the beach. Any beach, but the closest is probably going to be the famous <a href="http://www.best-of-oahu.com/waikiki-beach.html" target="_blank">Waikiki Beach</a>.
</ol>

(click below for an interactive map)<br><a href="https://www.google.com/maps/d/embed?mid=1T52UMNxICwNIEJFzpu0K6BzYHh0" target="_blank"><img src="/app/weddingmap.jpg" width="640" height="480"></a>
