{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="col-lg-3" >
<img src="/app/invitation.jpg" width="100%" align="left">
<img src="/app/stoneheart.jpg" width="100%" align="left">
</div>
<div class="col-lg-9" >
 <label>Our Wedding Tour:</label> For anyone who couldn't make it out for our wedding, so we're also planning two wedding parties for our mainland <A href="https://en.wikipedia.org/wiki/Ohana">ohana</a> in June 2017.
<p>
<p><b>Sunday, June 4:</b> An <a href="http://oakland.athletics.mlb.com/schedule/?c_id=oak#y=2017&m=6&calendar=DEFAULT" target="_blank">Oakland Athletics</a> game at Oakland Coliseum.
<br><img src="/app/oaklandus.jpg"  width="250" style="PADDING-RIGHT: 5px">
<img src="/app/oaktown.jpg"  width="400" valign="top">
<<p><b>Wednesday, June 7:</b> Food and drinks at <a href="https://www.waterstreetbrewery.com/index.php/locations/oak-creek" target="_blank">Water Street Brewery</a> in Oak Creek, WI
<br><img src="/app/wisconsinus.jpg" width="250" style="PADDING-RIGHT: 5px" ><img src="/app/milwaukeeus.jpg"  width="440" >
</div>
</div>
{% endblock %}
