<label>Our Wedding Tour:</label><br>We realize that not everyone can make it out for a destination wedding, 
so we're also planning wedding parties for our mainland ohana in June 2017.

<p>First weekend (June 3-4) in the East Bay: Probably an <a href="http://oakland.athletics.mlb.com/schedule/?c_id=oak#y=2017&m=6&calendar=DEFAULT" target="_blank">Oakland Athletics</a> game at O.Co Coliseum (they're playing the Nats that weekend).
<br><img src="/app/oaklandus.jpg"  width="400" style="PADDING-RIGHT: 5px"><img src="/app/oaktown.jpg"  width="680" valign="top">
<br>Plus pre-game or post-game food and drinks at <a href="http://drinkdrakes.com/" target="_blank">Drake's</a> or <a href="http://21st-amendment.com/" target="_blank">21st Amendment</a> in San Leandro.

<p>Sometime the next week (June 6-8) in Wisconsin: Maybe a <a href="http://milwaukee.brewers.mlb.com/schedule/index.jsp?c_id=mil#y=2017&m=6&calendar=DEFAULT" target="_blank">Milwaukee Brewers</a> game at Miller Park (they're hosting the Giants that week).
<br><img src="/app/wisconsinus.jpg" width="400" style="PADDING-RIGHT: 5px" ><img src="/app/milwaukeeus.jpg"  width="710" >
<br>Or food and drinks at some brewpub in greater Milwaukee (<a href="http://www.lakefrontbrewery.com/" target="_blank">Lakefront</a>, <a href="http://ale-house.com/ target="_blank"">Mke Alehouse</a>, open to suggestions)

<p>Second weekend (June 10-11) on the East Coast: Possibly in tandem with co-celebrating Janet's birthday during the family trip to the Jersey Shore 
<br><img src="/app/njus.jpg"  width="600" style="PADDING-RIGHT: 5px"><img src="/app/njgang.jpg"  width="500" valign="top">
<p>Stay tuned for more details as they become available.
